.login-container {
  background-size: cover !important;
  background: url("../../assets/images/Background.jpg") center no-repeat;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;

  .left-section {
    background-color: rgba(28, 32, 38, 0.85);
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    z-index: 2;

    .buttons-section {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: 600;
      gap: 10px;
      justify-content: center;

      .auth-button {
        color: var(--swatch2);
        transition: 0.3s all ease-in;
      }

      .auth-button:hover {
        color: var(--swatch3);
        cursor: pointer;
      }
    }

    .login-title {
      color: var(--swatch2);
      font-family: 'Manrope', sans-serif;
      font-size: 30px;
      font-weight: bolder;
    }
  }

  .right-section {
    width: 70%;
  }
}

mat-icon {
  color: var(--swatch2);
}

@media only screen and (max-width: 768px) {
  .right-section {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .right-section {
    height: 100vh;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
