<div class="login-container">
  <div class="left-section">
    <div class="login-title">Καλώς ήλθατε</div>

    <div class="buttons-section">
      <div class="auth-button" [style.color]="setButtonColor('login')" (click)="changeSection('login')">
        Είσοδος
      </div>

      <div class="auth-button" [style.color]="setButtonColor('register')" (click)="changeSection('register')">
        Εγγραφή
      </div>
    </div>

    <app-login *ngIf="showSection('login')"></app-login>

    <ng-container *ngIf="showSection('register')">
      <mat-radio-group [(ngModel)]="userType">
        <mat-radio-button value="citizen">Πολίτης</mat-radio-button>
        <mat-radio-button value="travelAgency">Ταξιδιωτικό Γραφείο</mat-radio-button>
      </mat-radio-group>

      <app-citizen *ngIf="showUserType('citizen')"></app-citizen>

      <app-travel-agency *ngIf="showUserType('travelAgency')"></app-travel-agency>
    </ng-container>
  </div>

  <div class="right-section"></div>
</div>
