<form [formGroup]="formGroup" (keydown.enter)="register()">
  <mat-form-field>
    <mat-label>ΑΦΜ</mat-label>
    <input autocomplete="username" formControlName="afm" matInput type="text"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Κωδικός</mat-label>
    <input autocomplete="new-password" formControlName="password" matInput [type]="getPasswordType()"/>
    <button mat-icon-button matSuffix (mousedown)="toggleVisibility($event)">
      <span class="{{getVisibilityIcon()}}"></span>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Όνομα</mat-label>
    <input formControlName="firstName" matInput type="text"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Επώνυμο</mat-label>
    <input formControlName="lastName" matInput type="text"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput type="email"/>
  </mat-form-field>
</form>

<button class="login-button" mat-button [disabled]="isFormInvalid()" (click)="register()">
  Εγγραφή
</button>
