<form [formGroup]="formGroup" (keydown.enter)="register()">
  <mat-form-field>
    <mat-label>ΑΦΜ</mat-label>
    <input #vat_number formControlName="afm" mask="000000000" matInput maxlength="9" type="text"/>
    <mat-hint align="end">{{vat_number.value?.length || 0}}/9</mat-hint>
    <mat-error *ngIf="formService.isFormFieldValid('afm', formGroup)">
      {{ formService.setErrorMessage('afm', formGroup, 'vatNumber') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Κωδικός</mat-label>
    <input autocomplete="new-password" formControlName="password" matInput [type]="getPasswordType()"/>
    <button mat-icon-button matSuffix (mousedown)="toggleVisibility($event)">
      <span class="{{getVisibilityIcon()}}"></span>
    </button>
    <mat-error *ngIf="formService.isFormFieldValid('password', formGroup)">
      {{ formService.setErrorMessage('password', formGroup) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Όνομα</mat-label>
    <input formControlName="firstName" matInput type="text"/>
    <mat-error *ngIf="formService.isFormFieldValid('firstName', formGroup)">
      {{ formService.setErrorMessage('firstName', formGroup) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Επώνυμο</mat-label>
    <input formControlName="lastName" matInput type="text"/>
    <mat-error *ngIf="formService.isFormFieldValid('lastName', formGroup)">
      {{ formService.setErrorMessage('lastName', formGroup) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput type="email"/>
    <mat-error *ngIf="formService.isFormFieldValid('email', formGroup)">
      {{ formService.setErrorMessage('email', formGroup, 'email') }}
    </mat-error>
  </mat-form-field>
</form>

<button color="primary" class="login-button" mat-flat-button [disabled]="isFormInvalid()" (click)="register()">
  Εγγραφή
</button>
