<div>Διαθέσιμες Εκδρομές</div>

<button mat-button>Προσθήκη Εκδρομής</button>

<table mat-table [dataSource]="trips">
  <ng-container matColumnDef="availableSeats">
    <th mat-header-cell *matHeaderCellDef>Διαθέσιμες Θέσεις</th>
    <td mat-cell *matCellDef="let element">{{ element.availableSeats }}</td>
  </ng-container>

  <ng-container matColumnDef="bookedSeats">
    <th mat-header-cell *matHeaderCellDef>Κλεισμένες Θέσεις</th>
    <td mat-cell *matCellDef="let element">{{ element.bookedSeats }}</td>
  </ng-container>

  <ng-container matColumnDef="depLocation">
    <th mat-header-cell *matHeaderCellDef>Αναχώρηση Τόπος</th>
    <td mat-cell *matCellDef="let element">{{ element.depLocation }}</td>
  </ng-container>

  <ng-container matColumnDef="destLocation">
    <th mat-header-cell *matHeaderCellDef>Προορισμός Τόπος</th>
    <td mat-cell *matCellDef="let element">{{ element.destLocation }}</td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>Ημερομηνία Λήξης</th>
    <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
  </ng-container>

  <ng-container matColumnDef="maxNumOfParticipants">
    <th mat-header-cell *matHeaderCellDef>Μέγιστος Αριθμός Συμμετοχών</th>
    <td mat-cell *matCellDef="let element">{{ element.maxNumOfParticipants }}</td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Ημερομηνία Έναρξης</th>
    <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
  </ng-container>

  <ng-container matColumnDef="travelAgency">
    <th mat-header-cell *matHeaderCellDef>Ταξιδιωτικό Γραφείο</th>
    <td mat-cell *matCellDef="let element">{{ element.travelAgency.afm }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
