<div mat-dialog-title>
  <span>Προσθήκη Εκδρομής</span>

  <span>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</div>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Αναχώρηση Τόπος</mat-label>
      <input formControlName="departureLocation" matInput type="text"/>
      <mat-error *ngIf="formService.isFormFieldValid('departureLocation', formGroup)">
        {{ formService.setErrorMessage('departureLocation', formGroup) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Προορισμός Τόπος</mat-label>
      <input formControlName="destinationLocation" matInput type="text"/>
      <mat-error *ngIf="formService.isFormFieldValid('destinationLocation', formGroup)">
        {{ formService.setErrorMessage('destinationLocation', formGroup) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ημερομηνία Έναρξης</mat-label>
      <input formControlName="startDate" matInput [matDatepicker]="picker1" [max]="maximumDate" [min]="minimumStartDate" readonly>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="formService.isFormFieldValid('startDate', formGroup)">
        {{ formService.setErrorMessage('startDate', formGroup) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ημερομηνία Λήξης</mat-label>
      <input formControlName="endDate" matInput [matDatepicker]="picker2" [min]="minimumEndDate" readonly>
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="formService.isFormFieldValid('endDate', formGroup)">
        {{ formService.setErrorMessage('endDate', formGroup) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Μέγιστος Αριθμός Συμμετοχών</mat-label>
      <input formControlName="maximumSeats" mask="9*" matInput type="text"/>
      <mat-error *ngIf="formService.isFormFieldValid('maximumSeats', formGroup)">
        {{ formService.setErrorMessage('maximumSeats', formGroup, 'integer') }}
      </mat-error>
    </mat-form-field>

    <mat-label>Πρόγραμμα*</mat-label>
    <ckeditor [editor]="editor" formControlName="schedule"></ckeditor>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Κλείσιμο</button>

  <button mat-flat-button color="primary" (click)="submitTrip()" [disabled]="isFormInvalid()">
    Προσθήκη
  </button>
</mat-dialog-actions>
