.add-button {
  background: var(--swatch3);
  border-radius: 10px;
  color: var(--swatch1);
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.centered-flex {
  gap: 10px;
}

.dialog-title {
  align-items: center;
  display: flex;
  gap: 5px;
}
