:root {
  --swatch1: #1c2026;
  --swatch2: #ffffff;
  --swatch3: #28ffbb;
  --swatch4: #1c2026c7;
  --swatch5: #f44336;
  --swatch6: #ffb826;
  --swatch7: #2d3136;
  --swatch8: #757575;
  --swatch9: #323232;
  --swatch10: #2d313666;
  --swatch11: #ffffff00;
}

body {
  background: var(--swatch1);
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  margin: 0;
}

.flex {
  display: flex;
}

.font18 {
  font-size: 18px !important;
}

form {
  display: flex;
  flex-direction: column;

  mat-checkbox,
  mat-form-field {
    width: 100%;
  }
}

.full-width-element {
  width: 100% !important;
}

input {
  color: var(--swatch2) !important;
  font-size: 16px !important;
}

.justify-content-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

label {
  color: var(--swatch2);
  display: inherit;
  font-weight: 900;
  margin-bottom: 5px;
}

.margin-bottom20 {
  margin-bottom: 20px !important;
}

.margin-top20 {
  margin-top: 20px !important;
}

.no-data-message {
  color: var(--swatch2);
  font-size: 24px;
  margin-top: 100px;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.title {
  color: var(--swatch3);
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;

  a {
    font-style: italic;
    text-decoration: var(--swatch3) underline;
  }

  a:hover {
    cursor: pointer;
  }
}

.width-100 {
  width: 100%;
}

.width-70 {
  width: 70%;
}

.width-30 {
  width: 30%;
}
