:root {
  --swatch1: #1c2026;
  --swatch2: #ffffff;
  --swatch3: #28ffbb;
  --swatch4: #1c2026c7;
  --swatch5: #f44336;
  --swatch6: #ffb826;
  --swatch7: #2d3136;
  --swatch8: #757575;
  --swatch9: #323232;
  --swatch10: #2d313666;
  --swatch11: #ffffff00;
}

body {
  background: var(--swatch1);
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;

  mat-checkbox,
  mat-form-field {
    width: 100%;
  }
}

input {
  color: var(--swatch2) !important;
  font-size: 16px !important;
}

label {
  color: var(--swatch2);
  display: inherit;
  font-weight: 900;
  margin-bottom: 5px;
}

.login-button {
  background: var(--swatch3) !important;
  border-radius: 40px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  height: 48px !important;
  margin-top: 20px;
  width: 100%;
}

.mat-mdc-button:not(:disabled) {
  //color: var(--swatch1) !important;
}
