<form [formGroup]="formGroup" (keydown.enter)="register()">
  <mat-form-field>
    <mat-label>ΑΦΜ</mat-label>
    <input #vat_number formControlName="afm" mask="000000000" matInput maxlength="9" type="text"/>
    <mat-hint align="end">{{vat_number.value?.length || 0}}/9</mat-hint>
    <mat-error *ngIf="formService.isFormFieldValid('afm', formGroup)">
      {{ formService.setErrorMessage('afm', formGroup, 'vatNumber') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Κωδικός</mat-label>
    <input autocomplete="new-password" formControlName="password" matInput [type]="getPasswordType()"/>
    <button mat-icon-button matSuffix (mousedown)="toggleVisibility($event)">
      <span class="{{getVisibilityIcon()}}"></span>
    </button>
    <mat-error *ngIf="formService.isFormFieldValid('password', formGroup)">
      {{ formService.setErrorMessage('password', formGroup) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Επωνυμία</mat-label>
    <input formControlName="name" matInput type="text"/>
    <mat-error *ngIf="formService.isFormFieldValid('name', formGroup)">
      {{ formService.setErrorMessage('name', formGroup) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ιδιοκτήτης</mat-label>
    <input formControlName="owner" matInput type="text"/>
    <mat-error *ngIf="formService.isFormFieldValid('owner', formGroup)">
      {{ formService.setErrorMessage('owner', formGroup) }}
    </mat-error>
  </mat-form-field>
</form>

<button color="primary" class="login-button" mat-flat-button [disabled]="isFormInvalid()" (click)="register()">
  Εγγραφή
</button>
